.category-container {
	
}

.category-container--title {
	text-transform: capitalize;
}

.room-container {
	display: flex;
	gap: 40px;
	margin: 40px auto;
}
.room-container .category-container--title {
	flex: 1;
}
.room-container .roomcard-container {
	flex: 3;
}
.roomcard-container {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

@media screen and (max-width: 768px) {
	.room-container {
		display: flex;
		flex-direction: column;
	}
}