.display-location {
}

.display-location--cover {
	width: 100vw;
	height: 40vh;
	object-fit: cover;
}

.display-location--container{
	padding: 20px;
	display: flex;
	gap: 20px;
}

.display-location__content {
	flex: 1;
}

.display-location__content--headline {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.display-location__content--category-name {
	text-transform: capitalize;
}

.display-location__edit-container {
	min-width: 300px;
}
.display-location__edit {
	border-radius: 8px;
	padding: 20px;
	border: 1px solid lightgray;
	display: flex;
	flex-direction: column;
}

.display-location__edit--price-input {
	border-radius: 50px;
	padding: 8px 12px;
	margin: 10px 0;
	font-size: 16px;
	-webkit-box-shadow: 1px 4px 12px 1px #CCC;
		box-shadow: 1px 4px 12px 1px #CCC;
	border: 1px solid #AAA;
}

.display-location__edit--cta-container {
	text-align: center;
}

.display-location__edit--delete-btn, .display-location__edit--confirm-btn {
	border: none;
	box-shadow: none;
	background: none;
	border-radius: 50px;
	cursor: pointer;
	padding: 8px 12px;
	margin: 10px;
	font-size: 16px;
}
.display-location__edit--delete-btn {
	border: 1px solid #04ddbf;
}
.display-location__edit--confirm-btn {
	background: #04ddbf;
	color: white;
}

@media screen and (max-width: 768px) {
	.display-location__content--headline, .display-location--container {
		flex-wrap: wrap;
	}
}