.header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 120px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  object-fit: contain;
  width: 170px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.header__center > input {
  border: none;
  padding: 10px;
  width: 250px;
  outline-width: 0;
  font-size: 14px;
}

.header__center > .search-button {
  background-color: #04ddbf;
  border: none;
  border-radius: 999px;
  padding: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  width: 15vw;
}

.header__right > svg {
  font-size: 20px;
}


@media screen and (max-width: 768px) {
  .header__container{
    flex-direction: column;
    height: auto;
    gap: 20px;
  } 
  .header__right {
    width: 100vw;
    justify-content: center;
  }
}